#main {
  border-radius: 10px;
  display: flex;
  max-width: 900px;
  margin: auto;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*.over {
  height: 800px;
  width:1440px;
  margin:auto;
  background-color: hsl(0, 0%, 95%);
}*/
.flex1 {
  background-color: hsl(31, 77%, 52%);
}
.flex2 {
  background-color: hsl(184, 100%, 22%);
}
.flex3 {
  background-color: hsl(179, 100%, 13%);
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 70px;
}
h5 {
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 30px;
  margin-top: 30px;
}
button {
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  background-color: hsl(0, 0%, 95%);
  border-radius: 30px;
  border: 2px solid white;
  padding: 10px 20px;
  min-width: 60%;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
button:hover {
  background-color: transparent;
  color: white;
}
.btn1 {
  color: hsl(31, 77%, 52%);
}
.btn2 {
  color: hsl(184, 100%, 22%);
}
.btn3 {
  color: hsl(179, 100%, 13%);
}
.card div {
  padding: 45px;
}
.card .flex1 {
  border-radius: 10px 0 0 10px;
}
.card .flex3 {
  border-radius: 0 10px 10px 0;
}
